@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

app-list-item,
app-wishlist-item {
  @include make-col-ready;
  @include make-col(3);

  @include media-breakpoint-down(xs) {
    @include make-col(12);
  }

  @include media-breakpoint-only(sm) {
    @include make-col(6);
  }

  @include media-breakpoint-only(md) {
    @include make-col(4);
  }

  margin-bottom: 10px;

}

$padding: 15px 0;

.content {
  background: #f0f0f0;
  padding: $padding;
}

.content-1 {
  background: #fff;
  padding: $padding;
}
