<div class="content">
  <div class="container">
    <p>
      Wishlist
    </p>
    <div class="row" *ngIf="wishlist.length > 0; else noWishlist">
      <ng-container *ngFor="let venue of wishlist">
        <app-wishlist-item
          (onRemoveWishlist)="onRemoveWishlist($event)"
          [venue]="venue"></app-wishlist-item>
      </ng-container>
    </div>
    <ng-template #noWishlist>
      <h3>No items yet.</h3>
    </ng-template>
  </div>
</div>

<div class="content-1">
  <div class="container">
    <p>
      Recent
    </p>
    <div class="row" *ngIf="checkins.length > 0; else noCheckins">
      <ng-container *ngFor="let checkin of checkins">
        <app-list-item
        (onAddToWishlist)="onAddToWishlist($event)"
        [checkin]="checkin"></app-list-item>
      </ng-container>
    </div>
    <ng-template #noCheckins>
      <h3>No items yet.</h3>
    </ng-template>
  </div>
</div>
