<header>
  <div class="header-map"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 marker-content">
        <img src="assets/img/marker.png" alt="Marker">
      </div>
      <div class="col-md-6 text-content">
        <h1 class="display-3">Wishlister</h1>
        <p class="lead">Wishlister a site where you can see your friends’ recent foursquare check-
          ins and you can add the venues to a wishlist.</p>
      </div>
    </div>
  </div>
</header>
