@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$height: 400px;
$height: 400px;

.separator {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $height var(--width) 0 0;
  border-color: var(--top-color) var(--bottom-color) transparent transparent;
}

header {
  overflow: hidden;
  position: relative;
  height: 400px;
  margin-bottom: 50px;
}

.header-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: url('~assets/img/bg.jpg') center;
  background-size: cover;
  transform: skewY(6deg);
  transform-origin: top right;
}

.container {
  color: #fff;
}

.col-md-6 {
  &.marker-content {
    justify-content: center;
    display: flex;

    img {
      margin-top: 20px;
    }

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media-breakpoint-down(sm) {
      padding: 50px 25px;
    }
  }
}
