<div class="card border-info mb-3" style="max-width: 20rem;">
  <div class="card-header bg-transparent">
    {{ venue.name }}
  </div>
  <img *ngIf="venuePhoto; else noImage" class="card-img-top" [src]="venuePhoto">
  <ng-template #noImage>
    <img src="assets/img/no-image.png" class="card-img-top" alt="No Image">
  </ng-template>
  <div class="card-footer">
    <button *ngIf="loggedUser.user_id" class="btn btn-danger" (click)="remove()">
      <div class="i fa fa-trash-o"></div> Remove
    </button>
  </div>
</div>
