.loading {
  background: #2d5be3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.float-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -35px;
  margin-top: -38px;
  background: #fff;
  padding: 10px 2.7px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 3px 3px 1px rgba(0,0,0,.4);
  box-shadow: 1px 3px 3px 1px rgba(0,0,0,.4);

  .fa {
    color: #2d5be3;
  }
}
