<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/img/logo.png" width="30" height="30" alt="Wishlister" class="d-inline-block align-top">
      Wishlister
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-row-reverse" id="navbarSupportedContent">

      <div class="dropdown" *ngIf="userData && userData.first_name; else noLogged">
        <a class="btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img *ngIf="userData.photo?.prefix" [src]="userData.photo.prefix + '32x32' + userData.photo.suffix" [alt]="userData.first_name + ' ' + userData.last_name" class="img-avatar">
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" role="button" (click)="logout()">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
            logout
          </a>
        </div>
      </div>

      <ng-template #noLogged>
          <a href="https://foursquare.com/oauth2/authenticate?client_id=TFUOZTMDNWTSMK2H0SJE4KFTWTIMDZ44GVWP0RMP4WZZHE11&response_type=code&redirect_uri=http://localhost:4200/foursquare/callback" class="btn btn-primary my-2 my-sm-0" type="submit">
            <i class="fa fa-foursquare" aria-hidden="true"></i>
            Login with Foursquare
          </a>
      </ng-template>
    </div>
  </div>
</nav>
