<div class="card border-info">
  <div class="card-header bg-transparent">
    <div class="map-data">
      <i class="fa fa-1x fa-map-marker" aria-hidden="true"></i>
      {{ venue.name }}
    </div>
    <img class="avatar"  [src]="user.photo.prefix + '48x48' + user.photo.suffix" [alt]="user.firstName + ' ' + user.lastName" [title]="user.firstName + ' ' + user.lastName">
    <span>
      {{ user.firstName }} {{ user.lastName }}
    </span>
  </div>
  <img *ngIf="venuePhoto; else noImage" class="card-img-top" [src]="venuePhoto">
  <ng-template #noImage>
    <img src="assets/img/no-image.png" class="card-img-top" alt="No Image">
  </ng-template>
  <div class="card-footer">
    <button *ngIf="loggedUser.user_id" class="btn btn-primary" (click)="addToWishlist()">
      <i class="i fa fa-plus"></i> Add
    </button>
  </div>
</div>
