<app-top-bar></app-top-bar>
<app-top-banner></app-top-banner>

<div class="container">
  <div class="row justify-content-center">
    <div class="card-container">
      <div class="card">
        <div class="card-body d-flex align-items-center justify-content-between">
          This is some text within a card block.
          <a href="https://foursquare.com/oauth2/authenticate?client_id=TFUOZTMDNWTSMK2H0SJE4KFTWTIMDZ44GVWP0RMP4WZZHE11&response_type=code&redirect_uri=http://localhost:4200/foursquare/callback" class="btn btn-primary my-2 my-sm-0" type="submit">
            <i class="fa fa-foursquare" aria-hidden="true"></i>
            Login with Foursquare
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
